header {
	background-color: #1b2028;
	padding: 22px 40px;
}

.container-header {
	margin: auto;
	width: 1070px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	display: flex;
	align-items: center;
}

.logo-title {
	margin-left: 10px;
}

.header-search {
	display: flex;
	align-items: center;
	background-color: #31353f;
	border-radius: 8px;
	padding: 5px;
}

.header-inp {
	border: none;
	background-color: inherit;
	color: #9e9e9e;
	font-size: 14px;
	border-radius: 8px;
	padding: 11px 10px 10px 15px;
	margin-right: 2px;
	outline: none;
}

.header-search-btn {
	border: none;
	background-color: inherit;
	margin-right: 8px;
	cursor: pointer;
}
